.main {
  margin-top: -102px;
  padding-top: 320px;
  padding-bottom: 425px;
  background: url(../img/main/main-bg.jpg) center no-repeat;

  &-block {
    .section-title {
      margin-bottom: 25px;
    }

    .section-subtitle {
      margin-bottom: 40px;
      font-size: 41px;

      p {
        padding-top: 22px;
        font-size: 28px;
      }
    }
  }
}
