@font-face {
  font-family: 'Segoe Script';
  src: url("SegoeScript.eot");
  src: url("SegoeScript.eot?#iefix") format("embedded-opentype"), url("SegoeScript.woff2") format("woff2"), url("SegoeScript.woff") format("woff"), url("SegoeScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main {
  margin-top: -102px;
  padding-top: 320px;
  padding-bottom: 425px;
  background: url("../img/main/main-bg.jpg") center no-repeat;
}

.main-block .section-title {
  margin-bottom: 25px;
}

.main-block .section-subtitle {
  margin-bottom: 40px;
  font-size: 41px;
}

.main-block .section-subtitle p {
  padding-top: 22px;
  font-size: 28px;
}

.nav {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__icon {
  display: none;
}

.nav__logo {
  display: block;
  background: url("../img/logo.png") center no-repeat;
  height: 37px;
  width: 177px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 37px;
}

.nav__menu-link {
  margin-right: 30px;
  color: #222222;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__menu-link:hover {
  color: #ef5b5b;
}

.button {
  padding: 13px 33px;
  border-radius: 6px;
  background-color: #ef5b5b;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:hover {
  cursor: pointer;
  background-color: #f17272;
}

.section-title {
  margin-bottom: 10px;
  font-family: "Segoe Script", sans-serif;
  font-size: 28px;
  color: #ef5b5b;
}

.section-subtitle {
  font-size: 28px;
  font-weight: 600;
}

.section-descr {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #808080;
  line-height: 28px;
}

.fixed {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
}

.fixed-main {
  margin-top: 0;
}

.features {
  padding-top: 80px;
  padding-bottom: 165px;
  position: relative;
}

.features .section-subtitle {
  margin-bottom: 30px;
  position: relative;
}

.features .section-subtitle::before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: -8px;
  width: 2px;
  height: 20px;
  background-color: #ef5b5b;
}

.features .section-descr {
  margin-bottom: 35px;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-main {
  text-align: left;
  max-width: 250px;
}

.features-main__button {
  padding: 20px 40px;
}

.features-block {
  text-align: center;
  padding-top: 425px;
  border-radius: 6px;
  position: absolute;
  top: -20%;
  padding-top: 425px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(33, 30, 31, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(33, 30, 31, 0.2);
}

.features-block_first {
  background: #fff url("../img/features/card-1.jpg") top no-repeat;
  left: 35%;
}

.features-block_second {
  background: #fff url("../img/features/card-2.jpg") top no-repeat;
  left: 55%;
}

.features-block_third {
  background: #fff url("../img/features/card-3.jpg") top no-repeat;
  left: 75%;
}

.features-block__title {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}

.features-block__wrap {
  padding: 15px 15px 13px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 2px solid #d6d6d6;
}

.features-block__rating {
  margin-right: 70px;
  line-height: 28px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.features-block__rating-star {
  color: #ef5b5b;
}

.features-block__rating-star:first-child {
  margin-left: 8px;
}

.features-block__button {
  text-transform: none;
  font-size: 14px;
  padding: 6px 22px;
}

.convenience {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background-color: #f0efef;
}

.convenience .section-subtitle {
  margin-bottom: 70px;
}

.convenience-slider {
  position: relative;
}

.convenience-slider__arrow {
  font-size: 25px;
  background-color: transparent;
  color: #ef5b5b;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 45%;
}

.convenience-slider__arrow:hover {
  color: #f17272;
}

.convenience-slider__prev {
  left: -5%;
}

.convenience-slider__next {
  right: -5%;
}

.convenience-slider__block {
  margin-left: 15px;
  margin-right: 15px;
  padding: 54px 17px;
  border: 1px solid #cbcbcb;
  background-color: #fff;
}

.convenience-slider__block-icon {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 69px;
}

.convenience-slider__block .section-subtitle {
  margin-bottom: 20px;
  font-size: 24px;
}

.choice {
  text-align: center;
  background-color: #f0efef;
  padding-bottom: 120px;
}

.choice .section-subtitle {
  margin-bottom: 70px;
}

.choice-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.choice-block {
  margin-bottom: 30px;
  padding: 28px;
  text-align: left;
  background-color: #fff;
  -ms-flex-preferred-size: 515px;
  flex-basis: 515px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(33, 30, 31, 0.15);
  box-shadow: 0px 1px 1px 0px rgba(33, 30, 31, 0.15);
}

.choice-block__title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  color: #00b1ff;
}

.choice-block .section-descr {
  max-width: 455px;
}

a,
input,
button,
textarea {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}